body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
td {
    border:3px solid ;
    border-radius: 8%;
    text-align: center;
    height: 50px;
}
tr{
    width: 150px;
}
table{
    margin: auto;
}
img{
    width: 200px;
    height: 150px;
}
.vermelho {
    border-color: red;
}
.verde{
    border-color: green;
}
.marrom{
    border-color: brown;
}
.amarelo{
    border-color: yellow;
}
.azul{
    border-color: blue;
}
#estacoes{
    width: 25px;
    
}

p {
    transform: rotate(-90deg);
}